Django==5.2
gunicorn
psycopg2-binary
dj_database_url
django-cors-headers==4.7.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.0
google-generativeai==0.8.5
nltk
numpy
pandas
whitenoise
drf-yasg==1.21.10
# Se drf-yasg reclamar de dependências, adicione:
# PyYAML
# inflection
# coreapi # (Verifique se é realmente necessário pelo drf-yasg ou se é legado)